**/__pycache__
**/build/
**/.egg-info/
**/.egg
**/*.pyc
**/.DS_Store
**/.vscode/
**/*.log
**/*.out
**/logs
**/.idea
**/samples*
**/sample2pkl.py
GUI/outputs
**/wandb
**/test
**/gui_test.py
/.gitattributes
ysy_main.py
llm4ad.egg-info/top_level.txt
llm4ad.egg-info/SOURCES.txt
llm4ad.egg-info/requires.txt
llm4ad.egg-info/PKG-INFO
llm4ad.egg-info/dependency_links.txt

.env
#LLaMEA logs content in this directory.
**/exp-*